<%= form_for @user do |f| %>
  <div class="column">
    <%= f.label "name" %>
    <%= f.text_field :name %>
  </div>

  <div class="column">
    <%= f.field "email" %>
    <%= @user.email %>
  </div>

  <div class="column">
    <%= f.field "email" %>
    <%= @user.email %>
  </div>

  <%= f.submit %>

<% end %>