<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- Uncomment to make IE8 render like IE7 -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body id="homepage">
    <nav class="top-bar">
      <ul class="title-area">
        <li class="name"><h1><%= link_to "Pos机网页登录", home_path %></h1></li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li class="divider hide-for-small"></li>
          <% if user_signed_in? %>
            <li> <%= link_to current_user.email, user_path(current_user)  %> </li>
            <li> <%= link_to "Log out", destroy_user_session_path, method: :delete %> </li>
          <% else %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        </ul>
      </section>
    </nav>
    <body>
      <div class="left"><%= image_tag "er.svg" %> </div>
      <div class="right">
        <pre>
          说明
1.左边是ER图
2.测试系统使用帐号密码
username: test@gmail.com
passwd: test1234

3.网站基于 Rails 框架搭建
4.还是有点简陋，功能会继续完善
        </pre>
        <% if user_signed_in? %>
          <%= link_to "管理", user_path(current_user) , class: "large button" %>
        <% else %>
          <%= button_to "登录", new_user_session_path, class: "large button" %>
        <% end %>
        <%= javascript_include_tag :application %>
      </div>
    </body>
  </body>
</html>