<h2>index page</h2>
<% @products.each do |product| %>
  <div class="property"> 
    Product: <%= product.title %> </div>
  <div class="property"> 
    Price: <%= product.price %> </div>
  <div class="property"> 
    Descrption: <%= product.intro %> </div>

  <div class="links">
    <%= link_to 'show', product %>
    <%= link_to 'edit', edit_product_path(product) %>
    <%= link_to 'Destroy', product, method: :delete, data: {confirm: 'Are you Sure , babe?'} %>
  </div>
<% end %>

<div class="new_product">
  <%= link_to "New a product", new_product_path, class: :button %>
  <%= link_to "Back", user_path(current_user), class: :button %>
</div>
